@import 'base.css';

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & main {
    flex: 1;
  }
}

header {
  display: flex;
  padding: 1.5em 2em;

  & aside {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  & .title {
    font-size: 50px;
    margin: 0;
    letter-spacing: -1px;
    border-bottom: 5px solid;
  }

  & .icon {
    font-family: 'Meteocons';
    font-size: 42px;
    transition: all .6s ease-in-out, color 0s linear;
    transform: scale(1) rotate(0deg);
    font-style: normal;

    &:hover {
      cursor: pointer;
      transform: scale(1.1) rotate(360deg);
      transform-origin: 50% 50%;
      text-shadow: 1px 1px 0 rgba(0,0,0,.3);
    }

    &[title='Back to the Weather'] {
      font-size: 48px;
    }
  }
}

main {
  padding: 0 2em;
}

footer {
  font-size: 10pt;
  margin: 1rem auto;
  text-align: center;
  color: #ccc;
}

footer a {
  text-decoration: none;

  color: #aaa;
}

footer a:hover {
  color: #888;
  text-decoration: underline;
}

/* Copyright © 2012 Jeremy Karlsson hello@enji.se */