@import 'base.css';

header {
  padding: 1.5em 2em;
}

header h1 {
  font-size: 50px;

  margin: 0;

  letter-spacing: -1px;

  border-bottom: 5px solid;
}

header h2 {
  float: right;

  padding-top: .4em;
}

div.main {
  padding: 0 2em;
}

.forecasts article {
  font-family: 'Interstate';

  display: inline-block;

  width: 200px;
  padding: .3em 1.2em;

  text-align: center;
  vertical-align: top;

  border-right: 2px solid;
}

span.right {
  font-family: 'Meteocons';
  font-size: 42px;

  position: f ixed;
  top: .4em;
  right: .6em;

  transition: all .6s ease-in-out,color 0s linear;
  transform: scale(1) rotate(0deg);
}

span.right:hover {
  cursor: pointer;
  transform: scale(1.1) rotate(360deg);

  text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}

span.right[title='Back to the Weather'] {
  font-size: 48px;

  top: .7em;
}

.forecasts article:last-child {
  border: 0;
}

.forecasts article .info {
  font-size: 20px;
}

.forecasts article h3 {
  font-size: 42px;

  margin: 0;
  padding: 0;

  text-align: left;
}

.forecasts article .icon {
  font-family: 'Meteocons';
  font-size: 175px;

  display: block;
}

.forecasts article .temp {
  font-size: 56px;

  display: block;
}

#settings #my_map {
  margin: 8px;

  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

#settings .main span {
  font-size: 22px;

  padding: .1em .3em;
}

#settings input[type='text'],
select {
  font-size: 16px;

  margin: 5px 0;
  padding: 5px 10px;

  border: 1px solid #aaa;
  border-radius: 5px;
}

#settings input[type='text'] {
  width: 300px
}

#settings button {
  font-size: 16px;

  margin: 12px 6px;
  padding: 4px 10px;

  border: 1px solid #aaa;
  border-radius: 5px;
  background: linear-gradient(#fff,#eee);
}

#settings button:hover {
  background: linear-gradient(#fff,#f4f4f4);
}

footer {
  font-size: 16px;
  font-weight: bold;

  padding: 1em 0;

  text-align: center;
  letter-spacing: 1px;

  color: #ccc;
}

footer a {
  text-decoration: none;

  color: #aaa;
}

footer a:hover {
  color: #888;
}

#settings h1.ms {
  margin-top: -20px;
  margin-bottom: -18px;
  padding: 0;
}
/* Copyright © 2012 Jeremy Karlsson hello@enji.se */