@import 'dashboard.css';

.forecasts {
  display: flex;
  margin: 2rem auto;
}

.forecasts article {
  font-family: 'Interstate';

  display: inline-block;

  width: 200px;
  padding: .3em 1.2em;

  text-align: center;
  vertical-align: top;

  border-right: 2px solid;

  margin: 0 auto;

  &:last-child {
    border: 0;
  }

  & .icon {
    font-family: 'Meteocons';
    font-size: 175px;

    display: block;
  }

  & .temperature {
    font-size: 56px;

    display: block;
  }
}