/* Copyright © 2012 Jeremy Karlsson hello@enji.se */
*{font-family:'Sofia Pro Light',Calibri,Arial,sans-serif}
header {padding:1.5em 2em}
header h1 {margin:0;font-size:50px;letter-spacing:-1px;border-bottom:5px solid}
header h2 {display:inline-block;float: right;padding-top:0.4em}
div.main {padding:0 2em}
.forecasts article {
	width:200px;
	text-align:center;
	font-family:'Interstate';
	padding:0.3em 1.2em;
	border-right:2px solid;
	display:inline-block;
	vertical-align:top;
}
span.right {
	position:fixed;
	top:0.4em;
	right:0.6em;
	font-family:'Meteocons';
	font-size:42px;
	-webkit-transition:all 0.6s ease-in-out,color 0s linear;
	-webkit-transform:scale(1) rotate(0deg);
}
span.right:hover {-webkit-transform:scale(1.1) rotate(360deg);cursor:pointer;text-shadow:1px 1px 0 rgba(0,0,0,0.3)}
span.right[title="Back to the Weather"] {top:0.7em;font-size:48px}
.forecasts article:last-child {border:0}
.forecasts article .info {font-size:20px}
.forecasts article h3 {margin:0;padding:0;font-size:42px;text-align:left}
.forecasts article .icon {font-family:'Meteocons';display:block;font-size:175px}
.forecasts article .temp {display:block;font-size:56px}
#settings #my_map{border-radius:5px;box-shadow:0 1px 2px rgba(0,0,0,0.3);margin:8px}
#settings .main span{font-size:22px;padding:0.1em 0.3em}
#settings input[type="text"], select{border-radius:5px;font-size:16px;border:1px solid #aaa;margin:5px 0;padding:5px 10px}
#settings input[type="text"]{width:300px}
#settings button{
	background:-webkit-linear-gradient(#fff,#eee);
	border:1px solid #aaa;
	font-size:16px;
	padding:4px 10px;
	border-radius:5px;
	margin:12px 6px
}
#settings button:hover{background:-webkit-linear-gradient(#fff,#f4f4f4)}
footer{font-size:16px;color:#ccc;font-weight:bold;letter-spacing:1px;text-align:center;padding:1em 0}
footer a {color:#aaa;text-decoration:none}
footer a:hover {color:#888}
#settings h1.ms {padding:0;margin-top:-20px;margin-bottom:-18px}
/* Copyright © 2012 Jeremy Karlsson hello@enji.se */